# C++ build outputs
*.exe
*.out
*.o
*.obj
*.dll
*.a
*.lib
*.pdb
*.ilk

# Compilers / build systems
build/
bin/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# VS Code local settings
.vscode/

# OS junk
.DS_Store
Thumbs.db
